/*styles THANK YOU Text in signupthanks.html*/
.thank{
	padding-top:170px;
	text-align:center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*styles the button*/
.button {
    background-color: #ed332d;
    border: none;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;
    
    text-align: center;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
	font-family:arial;
    border-radius: 8px;
}

.button:hover{
	background-color:grey;
}
body{
    background-color: antiquewhite;
}